<ion-view view-title="Login">
    <ion-content>
        <br /> <!-- Jank as fuck but need to get shit done quick -->
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="col header logo text-center">
            <img src="./img/logo.png" class="logo"/>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="data.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="data.password">
            </label>
            <button class="button button-full button-stable login-btn" ng-click="loginEmail()">
                Log In
            </button>
            <div class="text-center">
                <a ui-sref="signup" class="text-center">
                    Or create an account
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
