<ion-view view-title="Match">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list type="card" can-swipe="listCanSwipe()" ng-show="UsersList !== []">
            <div class="item item-divider">
                Confirmed
            </div>
            <ion-item class="item-avatar item-text-wrap" ng-repeat="workout in confirmedWorkouts">
                <img src="./img/dummy-profile.jpg"></img>
                <h2>{{getUserName(workout.ownerUid)}}</h2>
                <p>At {{workout.location}} on {{getDateFrom(workout.startDateTime)}}</p>
                <p>From {{getTimeFrom(workout.startDateTime)}} to {{getTimeFrom(workout.endDateTime)}}</p>
                <p>Type: {{workout.workout_type}}</p>
                <div class="partner-avatar-confirmed">
                    <img class="partner-thumbnail" src="./img/dummy-profile.jpg"></img>
                    <h2>{{getUserName(workout.partnerUid)}}</h2>
                    <p>At {{getWorkout(workout.matchedWith).location}} on {{getDateFrom(getWorkout(workout.matchedWith).startDateTime)}}</p>
                    <p>From {{getTimeFrom(getWorkout(workout.matchedWith).startDateTime)}} to {{getTimeFrom(getWorkout(workout.matchedWith).endDateTime)}}</p>
                    <p>Type: {{getWorkout(workout.matchedWith).workout_type}}</p>
                </div>
            </ion-item>
            <div class="item item-divider">
                Pending
            </div>
            <ion-item class="item-avatar item-text-wrap" ng-repeat="workout in pendingWorkouts">
                <img src="./img/dummy-profile.jpg"></img>
                <h2>{{getUserName(workout.ownerUid)}}</h2>
                <p>At {{workout.location}} on {{getDateFrom(workout.startDateTime)}}</p>
                <p>From {{getTimeFrom(workout.startDateTime)}} to {{getTimeFrom(workout.endDateTime)}}</p>
                <p>Type: {{workout.workout_type}}</p>
                <i class="ion-arrow-left-c swipe-icon"></i>
                <div class="partner-avatar">
                    <img class="partner-thumbnail" src="./img/dummy-profile.jpg"></img>
                    <h2>{{getUserName(workout.partnerUid)}}</h2>
                    <p>At {{getWorkout(workout.matchedWith).location}} on {{getDateFrom(getWorkout(workout.matchedWith).startDateTime)}}</p>
                    <p>From {{getTimeFrom(getWorkout(workout.matchedWith).startDateTime)}} to {{getTimeFrom(getWorkout(workout.matchedWith).endDateTime)}}</p>
                    <p>Type: {{getWorkout(workout.matchedWith).workout_type}}</p>
                </div>
                <ion-option-button class="button-positive ion-checkmark" 
                                    ng-click="confirmWorkout(workout)">
                </ion-option-button>
                <ion-option-button class="button-assertive ion-close" 
                                    ng-click="declineWorkout(workout)">
                </ion-option-button>
            </ion-item>
            <div class="item item-divider">
                Requested
            </div>
            <ion-item class="item-avatar item-text-wrap" ng-repeat="workout in requestedWorkouts">
                <img src="./img/dummy-profile.jpg"></img>
                <h2>{{getUserName(workout.ownerUid)}}</h2>
                <p>At {{workout.location}} on {{getDateFrom(workout.startDateTime)}}</p>
                <p>From {{getTimeFrom(workout.startDateTime)}} to {{getTimeFrom(workout.endDateTime)}}</p>
                <p>Type: {{workout.workout_type}}</p>
                <i class="ion-arrow-left-c swipe-icon"></i>
                <ion-option-button class="button-assertive ion-close" 
                                    ng-click="deleteWorkout(workout)">
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>    
</ion-view>
