<ion-view view-title="Match">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list type="card" can-swipe="listCanSwipe()">
            <div class="item item-divider">
                Confirmed
            </div>
            <ion-item class="item-avatar item-text-wrap" ng-repeat="workout in confirmedWorkouts">
                <img src="./img/dummy-profile.jpg"></img>
                <h2></h2>
                <p>Workout Detail</p>
                <div class="partner-avatar-confirmed">
                    <img class="partner-thumbnail" src="./img/dummy-profile.jpg"></img>
                    <h2>Partner Name</h2>
                    <p>Parter Workout Detail</p>
                </div>
            </ion-item>
            <div class="item item-divider">
                Pending
            </div>
            <ion-item class="item-avatar item-text-wrap" ng-repeat="workout in pendingWorkouts">
                <img src="./img/dummy-profile.jpg"></img>
                <h2>{{getUserName(Auth.$getAuth().uid)}}</h2>
                <p>Workout Detail</p>
                <div class="partner-avatar">
                    <img class="partner-thumbnail" src="./img/dummy-profile.jpg"></img>
                    <h2>Partner Name</h2>
                    <p>Parter Workout Detail</p>
                </div>
                <ion-option-button class="button-positive ion-checkmark" 
                                    ng-click="confirmWorkout(item)">
                </ion-option-button>
                <ion-option-button class="button-assertive ion-close" 
                                    ng-click="declineWorkout(item)">
                </ion-option-button>
            </ion-item>
            <div class="item item-divider">
                Requested
            </div>
            <ion-item class="item-avatar item-text-wrap" ng-repeat="workout in requestedWorkouts">
                <img src="./img/dummy-profile.jpg"></img>
                <h2>Your Name</h2>
                <p>Workout Detail</p>
                <ion-option-button class="button-assertive ion-close" 
                                    ng-click="deleteWorkout(item)">
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>    
</ion-view>
