<ion-view view-title="My Schedule">
<ion-content class="padding">
<div class="button-bar">
    <a class="button" ng-click="setDay(0, $event)" ng-class="{'active': data.selectedDay == 0, 'button-positive': data.today == 0}">S</a>
    <a class="button" ng-click="setDay(1, $event)" ng-class="{'active': data.selectedDay == 1, 'button-positive': data.today == 1}">M</a>
    <a class="button" ng-click="setDay(2, $event)" ng-class="{'active': data.selectedDay == 2, 'button-positive': data.today == 2}">Tu</a>
    <a class="button" ng-click="setDay(3, $event)" ng-class="{'active': data.selectedDay == 3, 'button-positive': data.today == 3}">W</a>
    <a class="button" ng-click="setDay(4, $event)" ng-class="{'active': data.selectedDay == 4, 'button-positive': data.today == 4}">Th</a>
    <a class="button" ng-click="setDay(5, $event)" ng-class="{'active': data.selectedDay == 5, 'button-positive': data.today == 5}">F</a>
    <a class="button" ng-click="setDay(6, $event)" ng-class="{'active': data.selectedDay == 6, 'button-positive': data.today == 6}">S</a>
</div>

<!-- TODO: Replace this with a time picker --> 
<ionic-timepicker input-obj="data.startTimepickerObj">
    <button class="button button-block button-stable overflowShow">
        <standard-time-meridian etime='data.startTimepickerObj.inputEpochTime'>
        </standard-time-meridian>
    </button>
</ionic-timepicker>
<ionic-timepicker input-obj="data.endTimepickerObj">
    <button class="button button-block button-stable overflowShow">
        <standard-time-meridian etime='data.endTimepickerObj.inputEpochTime'>
        </standard-time-meridian>
    </button>
</ionic-timepicker>
<!-------------------------------------------->

<div class="list">
    <label class="item item-input item-select">
        <div class="input-label">
            Workout
        </div>
        <select name="workout_type" ng-model="data.workout_type">
            <option selected>Weightlifting</option>
            <option>Cardio</option>
        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            Location
        </div>
        <select name="location" ng-model="data.location">
            <option selected>SPAC</option>
            <option>Blom</option>
            <option>Patten</option>
        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            Looking For
        </div>
        <select name="lookingfor" ng-model="data.lookingfor">
            <option selected>Workout Buddy</option>
            <option>Expert/Trainer</option>
            <option>Trainee</option>
        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            How many People?
        </div>
        <select name="maxpeople" ng-model="data.maxPeople">
            <option selected>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>More than 5</option>
        </select>
    </label>

    <button class="button button-full button-stable submit-btn" ng-click="createWorkout()">
        Create Workout
    </button>

</div>
</ion-content>
</ion-view>

<script id="date-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-content>
            {{dateStringNoYear(data.selectedDate)}}
        </ion-content>
    </ion-popover-view>
</script>
