<ion-view view-title="My Schedule">
<ion-content class="padding">
<div class="button-bar">
    <a class="button">S</a>
    <a class="button">M</a>
    <a class="button">Tu</a>
    <a class="button">W</a>
    <a class="button">Th</a>
    <a class="button">F</a>
    <a class="button">S</a>
</div>

<!-- TODO: Replace this with a time picker --> 
<ion-checkbox ng-model="isChecked">Checkbox</ion-checkbox>
<!-------------------------------------------->

<div class="list">
    <label class="item item-input item-select">
        <div class="input-label">
            Workout
        </div>
        <select name="workout_type" ng-model="data.workout_type">
            <option selected>Weightlifting</option>
            <option>Cardio</option>
        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            Location
        </div>
        <select name="location" ng-model="data.location">
            <option selected>SPAC</option>
            <option>Blom</option>
            <option>Patten</option>
        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            Looking For
        </div>
        <select name="lookingfor" ng-model="data.lookingfor">
            <option selected>Workout Buddy</option>
            <option>Expert/Trainer</option>
        </select>
    </label>

    <button class="button button-full button-stable submit-btn" ng-click="createWorkout()">
        Create Workout
    </button>

</div>
</ion-content>
</ion-view>

