<ion-view>
  <ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="My Schedule" icon="ion-android-calendar" ng-sref="/tab/schedule">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Match" icon="ion-ios-cart" ng-sref="/tab/match">
      <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Today's Workouts" icon="ion-cloud" ng-sref="/tab/tdoday">
      <ion-nav-view name="contact-tab"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
