<ion-view view-title="Today's Workouts">
<ion-content class="padding">
<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>

<ion-list type="card" can-swipe="listCanSwipe()" ng-show="UsersList !== []">
    <ion-item class="item-avatar item-text-wrap" ng-repeat="workout in todaysWorkouts">
        <img src="./img/dummy-profile.jpg"></img>
        <h2>{{getUserName(workout.group.owner)}}</h2>
        <p>At {{workout.workout_location}} on {{getDateFrom(workout.group.startDateTime)}}</p>
        <p>From {{getTimeFrom(workout.group.startDateTime)}} to {{getTimeFrom(workout.group.endDateTime)}}</p>
        <p>Types: <span ng-repeat="type in workout.workout_types">{{type}}<span ng-show="type!==workout.workout_types[workout.workout_types.length-1]">, </span></span></p>
        <i class="ion-arrow-left-c swipe-icon"></i>
    <ion-option-button class="button-positive ion-checkmark" 
                        ng-click="confirmWorkout(workout)">
    </ion-option-button>
    </ion-item>
    </ion-list>
</div>
</ion-content>
</ion-view>
